body {
  background-color: lightgrey;
}

.App {
  text-align: center;
}

.container {
 
  background-color: white;
  min-height: 99vh;
}

.main-content {
  display: flex;
  align-content: flex-start;
}